@import "tailwindcss";

@theme {
  --color-primary: #0055a4;
  --color-secondary: #ef4135;
  --color-background: #f9f9f9;
  --color-text: #333333;
  --color-muted: #666666;
}

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  color: var(--color-secondary);
  text-decoration: underline;
}

.container {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  min-height: 100vh;
}

main {
  margin: 0 auto;
  max-width: 80rem;
}

p {
    margin-bottom: 1rem;
}
