---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import HalfColumn from "../components/HalfColumn.astro";
import H2 from "../components/H2.astro";
import UL from "../components/UL.astro";
---

<Layout>
  <div class="container mx-auto">
    <BackgroundImage />

    <main class="max-w-5xl!">
      <Hero title="Le Blind Dating" />

      <section class="flex w-full">
        <HalfColumn>
          <p>
            Le Blind Dating signifie que vous trouvez un(e) partenaire de danse sur place le vendredi
            soir. C'est très amusant de participer à une compétition avec un(e) partenaire
            avec qui vous ne dansez pas régulièrement, et qui pourrait même venir
            d'un autre pays ! Nous le recommandons vivement, car c'est un excellent moyen de
            créer des liens avec d'autres équipes.
          </p>

          <p>
            En Breitensport, le blind dating est <strong>volontaire</strong> ou <strong>obligatoire</strong> selon
            votre expérience préalable en compétition. Veuillez consulter la vue
            d'ensemble des classes. En ClOpen, il n'y a <strong>pas de blind dating</strong> car le tirage au
            sort des partenaires commence dès le tour de qualification.
          </p>
          <p>
            Vous pouvez trouver différents partenaires pour le Standard et le Latin. Le
            principal tour de blind dating aura lieu le vendredi pour le Standard et le Latin. Il
            y aura un second tour de blind dating pour le Latin le samedi soir.
          </p>
          <p>
            Pour le blind dating, la piste sera divisée afin que vous
            puissiez vous rendre dans la zone correspondant à votre niveau. Cela facilitera
            la recherche d'un(e) partenaire de votre niveau. La musique sera jouée par
            courtes périodes (30 à 60 secondes), après quoi vous changerez
            de partenaire. Une fois que deux personnes conviennent de vouloir
            concourir ensemble, vous pouvez vous rendre au bureau d'information pour vous
            inscrire en tant que couple.
          </p>
        </HalfColumn>
        <div class="w-1/2" >
          <H2 class="mt-0!">Règles du Blind Dating</H2>
          <p class="mb-0!">Les règles suivantes s'appliquent :</p>
          <UL>
            <li>
              Les participants volontaires au blind dating n'ont aucune restriction concernant leur partenaire.
            </li>
            <li>
              Les participants obligatoires au blind dating ont les restrictions suivantes :
              <!-- This is needed to preserve the layout. -->
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-6 text-sm">
                <li>
                  Vous ne pouvez pas faire de blind dating avec quelqu'un avec qui, au cours des 3 dernières années,
                  vous avez concouru (ETDS, NTDS, autre compétition, etc.) ou
                  vous vous êtes entraîné(e) ensemble.
                </li>
                <li>Vous ne pouvez pas faire de blind dating avec quelqu'un de votre propre équipe.</li>
              </ul>
            </li>
            <li>
              Le blind dating obligatoire ne s'applique qu'à votre rôle habituel de
              meneur/suiveur. Si vous vous inscrivez pour danser dans le rôle opposé,
              le blind dating devient volontaire.
            </li>
          </UL>

          <H2>Couleurs du Blind Dating</H2>
          <p>
            MENEURS (lead) Standard : <span class="text-blue-700 font-bold">BLEU</span><br />
            SUIVEURS (follow) Standard : <span class="text-red-700 font-bold">ROUGE</span><br />
            MENEURS (lead) Latin : <span class="text-violet-700 font-bold">VIOLET</span><br />
            SUIVEURS (follow) Latin : <span class="text-yellow-700 font-bold">JAUNE</span>
          </p>
        </HalfColumn>
      </section>
    </main>
  </div>
</Layout>
