---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
---

<Layout>
  <div class="container mx-auto">
    <BackgroundImage />

    <main class="max-w-4xl!">
      <Hero title="Les classes" />

      <section>
        <p class="mx-auto w-3/4 text-center!">
          L'ETDS comprend deux catégories principales : Breitensport et ClOpen
          (CloseD-Open). Votre catégorie dépend de votre expérience préalable en
          compétitions.
        </p>
        <p class="text-center!">
          Pour plus d'informations sur les danses que vous devrez exécuter,
          consultez la <a href="/dances">page des danses</a>.
        </p>

        <p class="text-center!">
          Veuillez consulter les détails concernant le ClOpen et le <a
            href="/blind-dating">Blind Dating</a
          > ci-dessous avant de vous inscrire.
        </p>
      </section>

      <section>
        <h2 class="text-center!">Vue d'ensemble</h2>
        <div>
          <p class="text-center!">
            Si vous n'êtes pas sûr(e) de la catégorie à laquelle vous
            appartenez, veuillez consulter votre capitaine d'équipe. Dans les
            cas limites, le capitaine d'équipe décide équitablement du placement
            du participant. Nous sommes heureux de conseiller le capitaine
            d'équipe en cas de doute.
          </p>

          <p class="text-center!">
            Le comité ETDS se réserve le droit de déroger aux règles énoncées
            ici pour statuer sur des cas individuels en cas de conflit.<br />
            Si une situation se présente pour laquelle les règles énoncées ici ne
            s'appliquent pas (suffisamment), le comité ETDS décidera de la question.
            Dans ce cas, votre capitaine d'équipe doit nous contacter.
          </p>
        </div>
        <img src="/Classes_2025_wB.png" />
      </section>

      <section class="w-full flex flex-wrap">
        <div class="w-1/2">
          <h2>Breitensport</h2>
          <p class="mb-0!">
            Sur la base de plusieurs tours de qualification, le Breitensport
            sera divisé en 6 classes au total :
          </p>
          <ul>
            <li>Enthusiasts</li>
            <li>Amateurs</li>
            <li>Professionals</li>
            <li>Masters</li>
            <li>Champions</li>
            <li>Legends</li>
          </ul>
          <p>
            Après les tours de qualification, le tournoi se poursuivra avec des
            tours préliminaires, les quarts de finale, les demi-finales et les
            finales. Il n'est pas prévu de repêchage dans aucune catégorie.
          </p>
        </div>

        <div class="w-1/2">
          <h2>Blind Dating</h2>

          <p>
            Le Blind Dating signifie que vous trouvez un(e) partenaire de danse
            sur place le vendredi soir. C'est très amusant de participer à une
            compétition avec un(e) partenaire avec qui vous ne dansez pas
            régulièrement, et qui pourrait même venir d'un autre pays ! Nous le
            recommandons vivement, car c'est un excellent moyen de créer des
            liens avec d'autres équipes.
          </p>

          <p>
            En Breitensport, le blind dating est volontaire ou obligatoire selon
            votre expérience préalable en compétition. Veuillez consulter la vue
            d'ensemble des classes. En ClOpen, il n'y a pas de blind dating car
            le tirage au sort des partenaires commence dès le tour de
            qualification.
          </p>

          <p>
            Vous pouvez trouver différents partenaires pour le Standard et le
            Latin. Le principal tour de blind dating aura lieu le vendredi pour
            le Standard et le Latin. Il y aura un second tour de blind dating
            pour le Latin le samedi soir.
          </p>

          <h2>Règles du Blind Dating</h2>
          Veuillez consulter les détails concernant le <a href="/blind-dating"
            >Blind Dating</a
          > ci-dessous avant de vous inscrire.
        </div>

        <div class="w-1/2">
          <h2>ClOpen (CloseD-Open)</h2>
          <p class="mb-0!">
            Pour le ClOpen, il y aura un système de tirage au sort au lieu du
            blind dating. Ce tirage détermine pour chaque tour et pour chaque
            danse avec quel(le) partenaire vous danserez. Sur la base de
            plusieurs tours de qualification, le ClOpen sera divisé en 2 classes
            au total :
          </p>
          <ul>
            <li>CloseD</li>
            <li>Open</li>
          </ul>

          <p>
            Après les tours de qualification, le tournoi se poursuivra avec des
            tours préliminaires, les quarts de finale, les demi-finales et les
            finales. Il n'est pas prévu de repêchage dans aucune catégorie.
          </p>

          <p>
            Si vous dansez ce ClOpen dans une discipline (Ballroom ou Latin),
            cela n'affecte pas votre autre discipline.
          </p>
        </div>

        <div class="w-1/2">
          <h2>Évaluation par le Capitaine d'Équipe</h2>

          <p>
            Les danseurs dans les catégories marquées d'un asterisk "*" (par ex.
            D-Class*) ainsi que les danseurs <i
              >des tournois <strong>égalitaires</strong></i
            > commencent généralement avec un BlindDating obligatoire en Breitensport.<br
            />
            En fonction de l'expérience et des performances dans les tournois précédents,
            le capitaine de l'équipe du participant décidera si le danseur est autorisé
            à commencer en ClOpen.<br />
            La même règle s'applique aux danseurs qui n'ont jamais concouru dans
            la section souhaitée (std./lat.) mais qui ont atteint la classe la plus
            élevée dans l'autre.
          </p>
        </div>
      </section>
    </main>
  </div>
</Layout>

<style>
  section h3 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-primary);
    margin-top: 1.8rem;
    margin-bottom: 0.8rem;
    letter-spacing: 0.01em;
    text-align: left;
  }
  section {
    font-size: 0.91rem;
  }
  section div {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  section h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-primary);
    margin-top: 2.2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.01em;
    text-align: left;
  }

  section ul {
    list-style-type: square;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
  }
  section ul li {
    color: var(--color-muted);
    font-size: 0.97rem;
    text-align: left;
  }
  section ul li::marker {
    color: var(--color-secondary);
  }
  section ul ul {
    margin-bottom: 0.5em;
    padding-left: 1.5rem;
  }
  section ul li strong {
    color: var(--color-primary);
  }

  section p {
    margin-bottom: 1.2rem;
    text-align: left;
  }
</style>
