---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import UL from "../components/UL.astro";
import H2 from "../components/H2.astro";
import HalfColumn from "../components/HalfColumn.astro";
import H3 from "../components/H3.astro";
---

<Layout>
  <div class="container mx-auto">
    <BackgroundImage />

    <main>
      <Hero title="Code de Conduite" />

      <section>
        <p class="mx-auto px-6 md:w-3/4 text-justify text-sm md:text-base">
          Le 71e Tournoi Européen des Étudiants Danseurs (ETDS) s'engage à
          assurer un environnement sûr et respectueux pour tous les
          participants. Ce Code de Conduite définit les attentes des
          organisateurs de l'événement et les directives de comportement pour
          garantir une expérience de compétition agréable. Ce Code de Conduite
          est inspiré de l'ETDS de Southampton. En tant que participant, vous
          acceptez de respecter ce code de conduite pendant toute la durée du
          Tournoi et êtes soumis aux décisions des organisateurs concernant tout
          comportement inacceptable.
        </p>
      </section>

      <section class="w-full flex flex-wrap">
        <HalfColumn>
          <H2>Champ d'Application du Code de Conduite</H2>
          <p>
            Ce Code de Conduite s'applique à tous les participants du 70e ETDS,
            notamment :
          </p>
          <UL>
            <li>Compétiteurs</li>
            <li>Capitaines d'Équipe</li>
            <li>Juges</li>
            <li>Personnel et Bénévoles</li>
            <li>Spectateurs</li>
          </UL>
          <p>
            En participant à l'événement, tous les individus acceptent de
            respecter les directives et les normes énoncées dans ce Code de
            Conduite afin d'assurer une expérience respectueuse, équitable et
            agréable pour tous.
          </p>
        </HalfColumn>

        <HalfColumn>
          <H2>Conduite Générale</H2>
          <UL>
            <li>
              <strong>Respect et Inclusion :</strong> Promouvoir et maintenir un
              environnement de respect mutuel et d'inclusion. Traiter tous les compétiteurs,
              le personnel, les juges, les bénévoles et les spectateurs avec courtoisie.
              S'abstenir de tout harcèlement, intimidation ou discrimination. (Voir
              Annexe 1)
            </li>
            <li>
              <strong>Intégrité :</strong> Maintenir l'intégrité du tournoi en respectant
              les règles et les directives.
            </li>
            <li>
              <strong>Sécurité :</strong> Agir en tout temps de manière à promouvoir
              la sécurité de soi-même et des autres. Ne pas adopter de comportements
              dangereux ou risqués. Suivre les instructions du personnel du tournoi
              et du lieu pour maintenir un environnement sûr pour tous.
            </li>
            <li>
              <strong>Esprit Sportif :</strong> Maintenir une conduite sportive dans
              la victoire comme dans la défaite. Représenter le Tournoi et votre
              équipe de manière positive.
            </li>
            <li>
              <strong>Protection :</strong> Respecter et adhérer aux règles du lieu
              et à toutes les politiques de protection pertinentes.
            </li>
          </UL>
        </HalfColumn>

        <div class="w-full px-6">
          <H2>Déclaration de Santé et d'Éligibilité</H2>
          <p>
            En participant à cette compétition de danse, tous les participants
            confirment qu'ils sont suffisamment en forme et en bonne santé pour
            s'engager dans les activités physiques requises. Les participants
            reconnaissent qu'ils sont responsables de leur propre santé et
            bien-être. Veuillez noter que des services de premiers secours
            seront disponibles sur place pour répondre à tout besoin médical ou
            urgence pouvant survenir pendant la compétition. Les participants
            sont encouragés à solliciter l'assistance du personnel de premiers
            secours désigné si nécessaire.
          </p>
          <p>
            En s'inscrivant, les participants acceptent ces conditions et
            confirment leur éligibilité et leur aptitude à participer.
          </p>
        </div>

        <HalfColumn>
          <H2>Attentes envers les Danseurs</H2>
          <UL>
            <li>
              <strong>Conduite Générale :</strong> Respect des attentes de la Conduite
              Générale
            </li>
            <li>
              <strong>Ponctualité :</strong> Arriver à l'heure pour vos événements
              programmés. Les événements ne seront pas reportés ou reprogrammés pour
              les retardataires sauf à la discrétion des organisateurs.
            </li>
            <li>
              <strong>Tenue :</strong> Porter une tenue appropriée à l'usage et sécuritaire.
              La tenue doit respecter les directives de la compétition (Voir Annexe
              2).
            </li>
          </UL>

          <H2>Attentes envers les Coaches et Capitaines d'&Eacute;quipe</H2>
          <UL>
            <li>
              <strong>Conduite Générale :</strong> Respect des attentes de la Conduite Générale
            </li>
            <li>
              <strong>Orientation :</strong> Assurez-vous que les danseurs connaissent et respectent les règles et le programme de la compétition.
            </li>
            <li>
              <strong>Comportement :</strong> Maintenez un comportement professionnel et abstenez-vous de commentaires ou d'actions négatifs. Donnez l'exemple pour favoriser un environnement sûr et respectueux.
            </li>
            <li>
              <strong>Résolution des Conflits :</strong> Traitez tout différend ou problème par les canaux appropriés.
            </li>
            <li>
              <strong>Supervision de l'Équipe :</strong> Surveillez le comportement de votre équipe tout au long de l'événement. Signalez rapidement tout incident ou problème au personnel du tournoi concernant le comportement de votre propre équipe et des autres.
            </li>
            <li>
              <strong>Sécurité :</strong> Priorisez la sécurité et le bien-être de tous les participants. Signalez immédiatement tout problème au personnel du tournoi.
            </li>
          </UL>

          <H2>Attentes envers les Juges</H2>
          <UL>
            <li>
              <strong>Conduite Générale :</strong> Respect des attentes de la Conduite
              Générale
            </li>
            <li>
              <strong>Impartialité :</strong> Juger toutes les performances de manière
              impartiale et sans préjugés.
            </li>
            <li>
              <strong>Confidentialité :</strong> Garder tous les scores et retours
              confidentiels jusqu'à leur publication officielle.
            </li>
            <li>
              <strong>Professionnalisme :</strong> Fournir des retours constructifs
              de manière respectueuse et professionnelle. Maintenir une communication
              courtoise en tout temps.
            </li>
            <li>
              <strong>Cohérence :</strong> Appliquer les critères de jugement de
              manière cohérente pour toutes les performances.
            </li>
          </UL>

          <H2>Attentes envers le Personnel et les Bénévoles</H2>
          <UL>
            <li>
              <strong>Conduite Générale :</strong> Respect des attentes de la Conduite
              Générale
            </li>
            <li>
              <strong>Assistance :</strong> Fournir une aide utile et courtoise à
              tous les participants et spectateurs.
            </li>
            <li>
              <strong>Fiabilité :</strong> Accomplir les tâches assignées rapidement
              et efficacement.
            </li>
            <li>
              <strong>Communication :</strong> Communiquer clairement et efficacement
              avec les officiels de la compétition et les participants.
            </li>
          </UL>
        </HalfColumn>

        <HalfColumn>
          <H2>Attentes envers les Spectateurs</H2>
          <UL>
            <li>
              <strong>Conduite Générale :</strong> Respect des attentes de la Conduite
              Générale
            </li>
            <li>
              <strong>Comportement :</strong> Maintenir un comportement approprié,
              évitant les actions ou commentaires perturbateurs.
            </li>
            <li>
              <strong>Conformité :</strong> Suivre toutes les règles du lieu et les
              instructions du personnel de la compétition.
            </li>
          </UL>

          <H2>Conduite Interdite</H2>
          <UL>
            <li>
              <strong>Harcèlement :</strong> Toute forme de harcèlement, discrimination
              ou intimidation ne sera pas tolérée.
            </li>
            <li>
              <strong>Comportement Antisportif :</strong> Tout comportement négatif
              envers les compétiteurs, juges ou officiels est interdit.
            </li>
            <li>
              <strong>Actions Illégales et Abus de Substances :</strong> La participation
              à toute activité illégale, y compris l'usage de drogues ou autres substances
              interdites, est strictement interdite et entraînera l'expulsion immédiate
              du lieu.
            </li>
            <li>
              <strong>Dommages :</strong> Les dommages délibérés au lieu ou aux biens
              de la compétition sont inacceptables.
            </li>
          </UL>

          <H2>Signalement des Infractions</H2>
          <p>
            Si vous êtes témoin ou victime d'une infraction, veuillez le
            signaler immédiatement à un officiel de la compétition ou à un
            membre du personnel désigné. Tous les signalements seront pris au
            sérieux et feront l'objet d'une enquête rapide.
          </p>

          <H2>Conséquences des Infractions</H2>
          <p>
            Les violations de ce Code de Conduite peuvent entraîner des mesures
            disciplinaires, incluant mais ne se limitant pas à :
          </p>
          <UL>
            <li>
              <strong>Avertissements :</strong> Avertissements verbaux ou écrits.
            </li>
            <li>
              <strong>Disqualification :</strong> Disqualification du Tournoi ou
              des événements concernés.
            </li>
            <li><strong>Expulsion :</strong> Expulsion du lieu.</li>
            <li>
              <strong>Interdictions :</strong> Interdictions temporaires ou permanentes
              de participation aux futures compétitions.
            </li>
            <li>
              <strong>Actions Supplémentaires :</strong> Communication avec les autorités
              compétentes si une action en justice est jugée nécessaire.
            </li>
          </UL>
          <p>
            Sachez que tous les participants sont soumis à la décision finale
            des organisateurs de l'événement et que les conséquences seront
            appliquées si nécessaire.
          </p>
        </HalfColumn>

        <div class="w-full">
          <H2 class="text-center! w-full">Conclusion</H2>
          <p class="mx-auto px-6 md:w-3/4 text-justify text-sm md:text-base">
            En participant au 70e ETDS, vous acceptez de respecter ce Code de
            Conduite. Ensemble, nous pouvons créer une expérience positive,
            respectueuse et agréable pour tous les participants. Merci de votre
            coopération et bonne chance à tous les compétiteurs !
          </p>
        </div>
      </section>

      <section class="flex flex-wrap">
        <HalfColumn>
          <H2>Annexe 1 : Harcèlement, Discrimination et Intimidation</H2>
          <H3>Harcèlement</H3>
          <p>
            Le harcèlement est tout comportement non désiré, importun ou
            inapproprié qui crée un environnement hostile ou intimidant. Cela
            inclut, sans s'y limiter :
          </p>
          <UL>
            <li>
              <strong>Harcèlement Verbal</strong>
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-4 md:ml-6 text-sm">
                <li>
                  Commentaires désobligeants, insultes ou blagues offensantes.
                </li>
                <li>Langage intimidant ou menaçant.</li>
                <li>Avances ou propositions persistantes et importunes.</li>
              </ul>
            </li>
            <li>
              <strong>Harcèlement Physique</strong>
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-4 md:ml-6 text-sm">
                <li>
                  Contact physique non désiré, comme toucher, étreindre ou
                  frôler quelqu'un.
                </li>
                <li>
                  Intimidation physique ou blocage du passage de quelqu'un.
                </li>
                <li>Agression ou menaces de violence.</li>
              </ul>
            </li>
            <li>
              <strong>Harcèlement Visuel</strong>
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-4 md:ml-6 text-sm">
                <li>
                  Affichage ou partage d'images, vidéos ou gestes inappropriés
                  ou offensants.
                </li>
                <li>
                  Regards insistants ou déplacés qui mettent quelqu'un mal à
                  l'aise.
                </li>
                <li>
                  Attention non désirée ou commentaires inappropriés sur
                  l'apparence ou la tenue vestimentaire.
                </li>
              </ul>
            </li>
          </UL>

          <H3>Discrimination</H3>
          <p>
            La discrimination consiste à traiter quelqu'un de manière injuste ou
            défavorable en raison de certaines caractéristiques ou attributs.
            Cela inclut, sans s'y limiter :
          </p>
          <UL>
            <li>
              <strong>Discrimination Raciale</strong>
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-4 md:ml-6 text-sm">
                <li>
                  Faire des commentaires négatifs ou des blagues sur la race ou
                  l'origine ethnique d'une personne.
                </li>
                <li>
                  Exclure ou isoler quelqu'un en raison de sa race ou de son
                  origine ethnique.
                </li>
                <li>
                  Refuser des opportunités ou des ressources en raison de la
                  race ou de l'origine ethnique.
                </li>
              </ul>
            </li>
            <li>
              <strong>Discrimination de Genre</strong>
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-4 md:ml-6 text-sm">
                <li>Faire des remarques ou blagues sexistes.</li>
                <li>
                  Traiter quelqu'un injustement en raison de son genre ou de son
                  identité de genre.
                </li>
                <li>
                  Refuser des opportunités ou des ressources en raison du genre
                  ou de l'identité de genre.
                </li>
              </ul>
            </li>
            <li>
              <strong>Discrimination Liée à l'Âge</strong>
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-4 md:ml-6 text-sm">
                <li>Faire des commentaires ou blagues âgistes.</li>
                <li>Traiter quelqu'un injustement en raison de son âge.</li>
                <li>Exclure ou isoler quelqu'un en raison de son âge.</li>
              </ul>
            </li>
            <li>
              <strong>Discrimination Liée au Handicap</strong>
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-4 md:ml-6 text-sm">
                <li>
                  Faire des commentaires désobligeants sur le handicap de
                  quelqu'un.
                </li>
                <li>Exclure ou isoler quelqu'un en raison de son handicap.</li>
                <li>
                  Refuser des opportunités ou des ressources en raison d'un
                  handicap.
                </li>
              </ul>
            </li>
            <li>
              <strong>Discrimination Liée à l'Orientation Sexuelle</strong>
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-4 md:ml-6 text-sm">
                <li>
                  Faire des commentaires ou blagues homophobes ou transphobes.
                </li>
                <li>
                  Traiter quelqu'un injustement en raison de son orientation
                  sexuelle.
                </li>
                <li>
                  Exclure ou isoler quelqu'un en raison de son orientation
                  sexuelle.
                </li>
              </ul>
            </li>
          </UL>

          <H3>Intimidation</H3>
          <p>
            L'intimidation est un comportement agressif répété visant à blesser
            ou intimider une autre personne. Cela inclut, sans s'y limiter :
          </p>
          <UL>
            <li>
              <strong>Intimidation Verbale</strong>
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-4 md:ml-6 text-sm">
                <li>Insultes, moqueries ou sobriquets.</li>
                <li>Propagation de rumeurs ou de commérages.</li>
                <li>Humiliation publique ou ridicule.</li>
              </UL>
            </li>
            <li>
              <strong>Intimidation Physique</strong>
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-4 md:ml-6 text-sm">
                <li>Frapper, donner des coups de pied ou pousser.</li>
                <li>Endommager ou voler des effets personnels.</li>
                <li>Menacer de violence physique.</li>
              </ul>
            </li>
            <li>
              <strong>Intimidation Sociale</strong>
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-4 md:ml-6 text-sm">
                <li>Exclure quelqu'un des groupes ou activités.</li>
                <li>Encourager les autres à exclure ou isoler quelqu'un.</li>
                <li>
                  Propager des rumeurs ou faire de fausses accusations pour
                  nuire à la réputation de quelqu'un.
                </li>
              </ul>
            </li>
            <li>
              <strong>Cyberintimidation</strong>
              <ul class="marker:text-secondary text-left list-[square] list-inside mb-2 ml-4 md:ml-6 text-sm">
                <li>
                  Envoyer des messages menaçants, abusifs ou humiliants en
                  ligne.
                </li>
                <li>
                  Partager des informations ou images privées sans consentement.
                </li>
                <li>
                  Créer de faux profils pour harceler ou intimider quelqu'un.
                </li>
              </ul>
            </li>
          </UL>

          <H3>Traitement des Comportements Inacceptables</H3>
          <p>
            Si vous êtes victime ou témoin de toute forme de harcèlement,
            discrimination ou intimidation, veuillez le signaler immédiatement à
            un officiel de la compétition ou à un membre du personnel désigné.
            Tous les signalements seront pris au sérieux et feront l'objet d'une
            enquête rapide. La confidentialité sera maintenue dans la mesure du
            possible, et des mesures appropriées seront prises pour traiter le
            comportement et protéger les personnes concernées.
          </p>
          <p>
            Tous les participants sont soumis à la décision finale des
            organisateurs de l'événement et, si nécessaire, des conséquences
            seront appliquées. Celles-ci peuvent inclure, sans s'y limiter :
          </p>
          <UL>
            <li>
              <strong>Avertissements :</strong> Avertissements verbaux ou écrits.
            </li>
            <li>
              <strong>Disqualification :</strong> Disqualification de la compétition.
            </li>
            <li><strong>Expulsion :</strong> Expulsion du lieu.</li>
            <li>
              <strong>Interdictions :</strong> Interdictions temporaires ou permanentes
              de participation aux futures compétitions.
            </li>
            <li>
              <strong>Actions Supplémentaires :</strong> Communication avec les autorités
              compétentes si une action en justice est jugée nécessaire.
            </li>
          </UL>
        </HalfColumn>
        <HalfColumn>
          <H2>Annexe 2 : Directives pour la Tenue de Compétition</H2>
          <p>
            Pour assurer un environnement professionnel, respectueux et sûr pour
            tous les participants, veuillez respecter les directives suivantes
            concernant les tenues appropriées pour la compétition de danse :
          </p>
          <UL>
            <li>
              <strong>Modestie :</strong> Les costumes doivent être appropriés à
              la performance et couvrir le corps de manière adéquate. Évitez les
              vêtements trop révélateurs ou provocants.
            </li>
            <li>
              <strong>Ajustement et Fonctionnalité :</strong> Assurez-vous que les
              costumes sont bien ajustés et permettent une liberté de mouvement complète.
              Évitez les vêtements trop amples ou serrés qui pourraient gêner les
              mouvements ou présenter un risque pour la sécurité.
            </li>
            <li>
              <strong>Chaussures Appropriées :</strong> Portez des chaussures adaptées
              au style de danse pratiqué. Assurez-vous que les chaussures sont en
              bon état et bien ajustées pour prévenir les blessures.
            </li>
            <li>
              <strong>Pas de Contenu Offensant :</strong> Les costumes ne doivent
              pas comporter de langage, symboles ou images offensants. Cela inclut
              l'évitement de slogans ou designs inappropriés.
            </li>
            <li>
              <strong>Sensibilité Culturelle :</strong> Soyez attentifs aux appropriations
              culturelles. Assurez-vous que les costumes respectent les symboles
              et tenues culturels sans les dénaturer ou les banaliser.
            </li>
          </UL>

          <H2>Annexe 3 : Déclaration d'Accessibilité</H2>
          <p>
            Nous nous engageons à garantir que notre compétition de danse soit
            accessible à tous les participants, spectateurs et membres du
            personnel. Notre objectif est de créer un environnement inclusif où
            chacun peut pleinement participer et profiter de l'événement. Nous
            encourageons tous les participants à communiquer avec le personnel
            du Tournoi et du lieu afin que les différents besoins puissent être
            pris en compte efficacement.
          </p>

          <H3>Accessibilité du Lieu</H3>
          <UL>
            <li>
              <strong>Entrées et Sorties :</strong> Le lieu est équipé d'entrées
              et sorties accessibles pour accueillir les personnes à mobilité réduite.
            </li>
            <li>
              <strong>Places Assises :</strong> Des places accessibles sont disponibles
              pour les spectateurs qui en ont besoin. Veuillez nous informer à l'avance
              si vous avez besoin d'arrangements spéciaux.
            </li>
            <li>
              <strong>Installations :</strong> Des toilettes accessibles sont disponibles
              dans le lieu.
            </li>
            <li>
              <strong>Stationnement :</strong> Des places de stationnement accessibles
              sont prévues à proximité des entrées du lieu.
            </li>
          </UL>

          <H3>Participation</H3>
          <UL>
            <li>
              <strong>Aide à l'Inscription :</strong> Si vous avez besoin d'aide
              pour le processus d'inscription, veuillez nous contacter, et nous vous
              fournirons le soutien nécessaire pour compléter votre inscription.
            </li>
            <li>
              <strong>Aménagements pour les Performances :</strong> Les participants
              nécessitant des aménagements spécifiques pour leur performance, comme
              du temps supplémentaire pour l'installation ou du matériel spécial,
              sont encouragés à en informer les organisateurs de la compétition à
              l'avance.
            </li>
          </UL>

          <H3>Services de Soutien</H3>
          <UL>
            <li>
              <strong>Communication :</strong> Nous veillerons à ce que les informations
              sur l'événement soient disponibles dans des formats accessibles sur
              demande. Cela inclut les documents imprimés, les horaires et les annonces.
            </li>
            <li>
              <strong>Premiers Secours :</strong> Des services de premiers secours
              sont disponibles sur place pour répondre à tout besoin médical ou urgence.
            </li>
            <li>
              <strong>Personnel d'Assistance :</strong> Si vous avez besoin d'un
              assistant personnel ou d'un accompagnateur pendant l'événement, ils
              auront accès au lieu pour vous fournir l'assistance nécessaire.
            </li>
          </UL>

          <p>
            Notre engagement envers l'accessibilité garantit que chacun puisse
            profiter pleinement et participer à notre compétition de danse.
            Merci de nous aider à créer un environnement inclusif et accueillant
            pour tous.
          </p>
        </HalfColumn>
      </section>
    </main>
  </div>
</Layout>
