---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import HalfColumn from "../components/HalfColumn.astro";
import H2 from "../components/H2.astro";
---

<Layout>
  <div class="container mx-auto">
    <BackgroundImage />

    <main class="max-w-4xl! px-6">
      <Hero title="Les danses" />

      <section class="">
        <p class="mx-auto md:w-3/4 text-justify text-sm md:text-base">
          Les danses que vous devez effectuer diffèrent selon la catégorie dans
          laquelle vous êtes placé. De plus, cela peut impliquer des danses
          supplémentaires dans les tours suivants. Vous trouverez les informations
          concernant les classes sur la <a href="classes">page des classes</a>.
        </p>
      </section>

      <section class="w-full flex flex-wrap">
        <HalfColumn>
          <H2>Standard Breitensport</H2>
          <p>
            Qualification Breitensport : SW, TG, QS<br />
            <br />
            Finales :<br />
            <span class="text-muted">Enthusiasts + Amateurs : SW, TG, QS</span
            ><br />
            <span class="text-muted"
              >Professionals + Masters : VW en plus dans les derniers tours</span
            ><br />
            <span class="text-muted"
              >Champions + Legends : VW, SF en plus dans les derniers tours</span
            ><br />
          </p>
        </HalfColumn>
        <HalfColumn>
          <H2>Latin Breitensport</H2>
          <p>
            Qualification Breitensport : CC, RU, JI<br />
            <br />
            Finales :<br />
            <span class="text-muted">Enthusiasts + Amateurs : CC, RU, JI</span
            ><br />
            <span class="text-muted"
              >Professionals + Masters : SA en plus dans les derniers tours</span
            ><br />
            <span class="text-muted"
              >Champions + Legends : SA, PD en plus dans les derniers tours</span
            ><br />
          </p>
        </HalfColumn>

        <section class="w-full">
          <div class="mx-auto md:w-3/4 text-justify text-sm md:text-base">
            <H2>ClOpen (Closed-Open)</H2>
            Soyez prêt à danser n'importe laquelle des cinq danses à tout moment de la compétition.
          </div>
        </section>

        <section class="w-full">
          <div class="mx-auto md:w-1/2">
            <H2 class="text-center">Légende</H2>
            <div class="p-0! flex w-full text-xs md:text-base">
              <p class="text-right! w-full pr-2">
                Valse Lente - <b>SW</b><br />
                Tango - <b>TG</b><br />
                Valse Viennoise - <b>VW</b><br />
                Slow Fox - <b>SF</b><br />
                Quickstep - <b>QS</b><br />
              </p>
              <p class="text-left w-full pl-2">
                <b>SA</b> - Samba <br />
                <b>CC</b> - Cha Cha Cha <br />
                <b>RU</b> - Rumba <br />
                <b>PD</b> - Paso Doble <br />
                <b>JI</b> - Jive<br />
              </p>
            </div>
          </div>
        </section>
      </section>
    </main>
  </div>
</Layout>