---
import Hero from "../components/Hero.astro";
import IntroSection from "../components/IntroSection.astro";
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
---

<Layout>
  <div class="container mx-auto">
    <BackgroundImage />

    <main>
      <Hero title="Pr&eacute;c&eacute;dentes &Eacute;ditions" />

      <IntroSection>
        <ul class="marker:text-secondary text-left list-[square] list-inside space-y-2">
          <li>
            <a href="https://etds2025aachen.vercel.app/"
              >70th ETDS (Monheim am Rhein (Team Aachen))</a
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_070/">here</a>
          </li>

          <li>
            <a href="https://etds.ch/">69th ETDS (Zürich)</a>, more details <a
              href="https://www.unitanz-berlin.de/etds/etds_069/">here</a
            >
          </li>

          <li>
            <a href="https://etds-southampton.vercel.app/"
              >68th ETDS (Southampton)</a
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_068/">here</a>
          </li>

          <li>
            <a href="https://etdstwente.nl/">67th ETDS (Enschede)</a>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_067/">here</a>
          </li>

          <li>
            <a href="https://etds666.vercel.app">66th ETDS (Seesen/Clausthal)</a
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_066/">here</a>
          </li>

          <li>
            <a href="https://etdsamsterdam.nl/">65th ETDS (Amsterdam)</a>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_065/">here</a>
          </li>

          <li>
            <a href="https://fotf3030.vercel.app/">64th ETDS (Delft)</a>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_064/">here</a>
          </li>

          <li>
            <a href="https://www.etdstwente.nl">63rd ETDS (Twente)</a>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_063/">here</a>
          </li>

          <li>
            <a href="http://etdsgroningen.nl/">62nd ETDS (Groningen)</a>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_062/">here</a>
          </li>

          <li>
            <span>61st ETDS (Clausthal-Zellerfeldt)</span>, more details <a
              href="https://www.unitanz-berlin.de/etds/etds_061/">here</a
            >
          </li>

          <li>
            <a href="http://etdsbrno.idans.nl/etds/">60th ETDS (Brno)</a>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_060/">here</a>
          </li>

          <li>
            <a href="https://www.etds-kiel.de/">59th ETDS (Kiel)</a>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_059/">here</a>
          </li>

          <li>
            <a href="http://www.58etds.lateinformation-kl.de/"
              >58th ETDS (Kaiserslautern)</a
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_058/">here</a>
          </li>

          <li>
            <span>57th ETDS (Aachen)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_057/"
              >here</a
            >
          </li>

          <li>
            <span>56th ETDS (Utrecht)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_056/"
              >here</a
            >
          </li>

          <li>
            <a href="http://www.unitanz-berlin.de/etds2016"
              >55th ETDS (Berlin)</a
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_055/">here</a>
          </li>

          <li>
            <span>54th ETDS (Brno)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_054/"
              >here</a
            >
          </li>

          <li>
            <a href="http://www.53etds.lateinformation-kl.de/"
              >53rd ETDS (Kaiserslautern)</a
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_053/">here</a>
          </li>

          <li>
            <span>52nd ETDS (Düsseldorf)</span>, more details <a
              href="https://www.unitanz-berlin.de/etds/etds_052/">here</a
            >
          </li>

          <li>
            <a href="http://www.uni-kiel.de/unitanz/ETDS2014/"
              >51st ETDS (Kiel)</a
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_051/">here</a>
          </li>

          <li>
            <span>50th ETDS (Clausthal)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_050/"
              >here</a
            >
          </li>

          <li>
            <span>49th ETDS (Enschede)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_049/"
              >here</a
            >
          </li>

          <li>
            <span>48th ETDS (Nijmegen)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_048/"
              >here</a
            >
          </li>

          <li>
            <span>47th ETDS (Enschede)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_047/"
              >here</a
            >
          </li>

          <li>
            <span>46th ETDS (Kaiserslautern)</span>, more details <a
              href="https://www.unitanz-berlin.de/etds/etds_046/">here</a
            >
          </li>

          <li>
            <span>45th ETDS (Eindhoven)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_045/"
              >here</a
            >
          </li>

          <li>
            <span>44th ETDS (Kiel)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_044/"
              >here</a
            >
          </li>

          <li>
            <span>43rd ETDS (Aachen)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_043/"
              >here</a
            >
          </li>

          <li>
            <span>42nd ETDS (Kaiserslautern)</span>, more details <a
              href="https://www.unitanz-berlin.de/etds/etds_042/">here</a
            >
          </li>

          <li>
            <span>41st ETDS (Groningen)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_041/"
              >here</a
            >
          </li>

          <li>
            <span>40th ETDS (Kaiserslautern)</span>, more details <a
              href="https://www.unitanz-berlin.de/etds/etds_040/">here</a
            >
          </li>

          <li>
            <span>39th ETDS (Kiel)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_039/"
              >here</a
            >
          </li>

          <li>
            <span>38th ETDS (Dortmund)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_038/"
              >here</a
            >
          </li>

          <li>
            <a href="http://www.unitanz-berlin.de/etds2007"
              >37th ETDS (Berlin)</a
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_037/">here</a>
          </li>

          <li>
            <span>36th ETDS (Eindhoven)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_036/"
              >here</a
            >
          </li>

          <li>
            <span>35th ETDS (Clausthal)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_035/"
              >here</a
            >
          </li>

          <li>
            <span>34th ETDS (Aachen)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_034/"
              >here</a
            >
          </li>

          <li>
            <span>33rd ETDS (Enschede)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_033/"
              >here</a
            >
          </li>

          <li>
            <span>32nd ETDS (Valkenswaard)</span>, more details <a
              href="https://www.unitanz-berlin.de/etds/etds_032/">here</a
            >
          </li>

          <li>
            <span>31st ETDS (Wuppertal)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_031/"
              >here</a
            >
          </li>

          <li>
            <span>30th ETDS (Clausthal-Zellerfeld)</span>, more details <a
              href="https://www.unitanz-berlin.de/etds/etds_030/">here</a
            >
          </li>

          <li>
            <span>29th ETDS (Kiel)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_029/"
              >here</a
            >
          </li>

          <li>
            <span>28th ETDS (Berlin)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_028/"
              >here</a
            >
          </li>

          <li>
            <span>27th ETDS (Eindhoven)</span>, more details <a href="https://www.unitanz-berlin.de/etds/etds_027/"
              >here</a
            >
          </li>

          <li>
            <span>26. Internationales Uni-Tanzturnier (Groningen)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_026/">here</a>
          </li>

          <li>
            <span>25. Internationales Uni-Tanzturnier (Aachen)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_025/">here</a>
          </li>

          <li>
            <span>24. Internationales Uni-Tanzturnier (Ulm)</span>, more details <a
              href="https://www.unitanz-berlin.de/etds/etds_024/">here</a
            >
          </li>

          <li>
            <span>23. Internationales Uni-Tanzturnier (Dortmund)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_023/">here</a>
          </li>

          <li>
            <span
              >22. Internationales Uni-Tanzturnier (Clausthal-Zellerfeldt)</span
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_022/">here</a>
          </li>

          <li>
            <span>21. Internationales Uni-Tanzturnier (Kiel)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_021/">here</a>
          </li>

          <li>
            <span>20. Internationales Uni-Tanzturnier (Berlin)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_020/">here</a>
          </li>

          <li>
            <span>19. Internationales Uni-Tanzturnier (Groningen)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_019/">here</a>
          </li>

          <li>
            <span>18. Internationales Uni-Tanzturnier (Eindhoven)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_018/">here</a>
          </li>

          <li>
            <span>17. Internationales Uni-Tanzturnier (Aachen)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_017/">here</a>
          </li>

          <li>
            <span
              >16. Internationales Uni-Tanzturnier (Clausthal-Zellerfeld)</span
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_016/">here</a>
          </li>

          <li>
            <span>15. Internationales Uni-Tanzturnier (Berlin)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_015/">here</a>
          </li>

          <li>
            <span>14. Internationales Uni-Tanzturnier (Eindhoven)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_014/">here</a>
          </li>

          <li>
            <span>13. Universitäten-Breitensport-Tanzturnier (Dortmund)</span>,
            more details <a href="https://www.unitanz-berlin.de/etds/etds_013/">here</a>
          </li>

          <li>
            <span>12. Universitäten-Breitensport-Tanzturnier (Kiel)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_012/">here</a>
          </li>

          <li>
            <span>11. Universitäten-Breitensport-Tanzturnier (Ulm)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_011/">here</a>
          </li>

          <li>
            <span>10. Universitäten-Breitensport-Tanzturnier (Aachen)</span>,
            more details <a href="https://www.unitanz-berlin.de/etds/etds_010/">here</a>
          </li>

          <li>
            <span>9. Universitäten-Breitensport-Tanzturnier (Berlin)</span>,
            more details <a href="https://www.unitanz-berlin.de/etds/etds_009/">here</a>
          </li>

          <li>
            <span
              >5. Universitäten-Breitensport-Tanzturnier (Clausthal-Zellerfeld)</span
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_005/">here</a>
          </li>

          <li>
            <span>4. Universitäten-Breitensport-Tanzturnier (Kiel)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_004/">here</a>
          </li>

          <li>
            <span
              >3. Universitäten-Breitensport-Tanzturnier (Clausthal-Zellerfeld)</span
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_003/">here</a>
          </li>

          <li>
            <span>2. Universitäten-Breitensport-Tanzturnier (Kiel)</span>, more
            details <a href="https://www.unitanz-berlin.de/etds/etds_002/">here</a>
          </li>

          <li>
            <span>1. Universitäten-Breitensport-Tanzturnier (Braunschweig)</span
            >, more details <a href="https://www.unitanz-berlin.de/etds/etds_001/">here</a>
          </li>
        </ul>
      </IntroSection>
    </main>
  </div>
</Layout>

<style>
</style>
