---
import Hero from "../components/Hero.astro";
import IntroSection from "../components/IntroSection.astro";
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import HalfColumn from "../components/HalfColumn.astro";
import H2 from "../components/H2.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <div class="container mx-auto">
    <BackgroundImage />

    <main class="max-w-4xl!">
      <Hero title="Informations aux Visiteurs" />

      <IntroSection>
        <h4 class="font-bold text-lg">
          Nombre limité de billets visiteurs disponibles pour la journée et la
          soirée
        </h4>
      </IntroSection>
      <section class="w-full flex flex-wrap">
        <HalfColumn>
          <H2>Informations</H2>
          <p>
            Les visiteurs sont les bienvenus à l'ETDS à tout moment. Cela
            signifie que votre famille peut venir assister à la compétition.
            Vous pouvez également inviter quelqu'un de votre association à l'une
            des soirées pour leur donner un aperçu de l'ETDS !
          </p>
          <p>
            Il existe deux types de visiteurs :<br />
            Visiteurs de jour & Visiteurs de soirée.
          </p>
          <p>
            En raison des limitations d'espace, nous disposons d'un nombre
            limité de billets pour les visiteurs de jour (spectateurs) et de
            soirée. Si vous ou vos amis et proches souhaitez venir assister au
            tournoi, veuillez remplir le formulaire d'inscription.<br />
          </p>
          <p>
            <strong
              >Notez qu'il s'agit d'un événement sans alcool et que fumer est
              interdit sur le site.<br />
              De plus, le <a href="/code-of-conduct">Code de Conduite</a> doit être
              respecté.</strong
            >
          </p>
        </HalfColumn>
        <HalfColumn>
          <H2>Visiteurs de Jour</H2>
          <p>
            Les visiteurs de jour sont les bienvenus pendant le tournoi pour
            venir encourager leurs amis et leur famille. La journée s'étend de
            8h30 jusqu'à la fin du tournoi, généralement vers 19h30.
          </p>
          <H2>Visiteurs de Soirée</H2>
          <p>
            Les visiteurs de soirée sont les bienvenus pendant les soirées pour
            danser et assister à tous les spectacles. Vous pouvez danser du
            début de la soirée jusqu'au petit matin.<br />
            <strong
              >Pour les horaires exacts par jour, consultez le programme.</strong
            >
          </p>
          <H2>Nourriture et Boissons</H2>
          <p>
            La nourriture et les boissons ne sont pas incluses dans le prix
            d'entrée. Cependant, vous pouvez acheter à manger et à boire dans
            les restaurants et commerces à proximité dans la ville.<br />
            <br />
            Les boissons peuvent être achetées au bar. <strong
              >Notez qu'il s'agit d'un tournoi sans espèces, les paiements en
              liquide ne sont donc pas acceptés.</strong
            ><br />
            <br />
            Il est strictement interdit de commander de la nourriture à livrer sur
            le site.
          </p>
        </HalfColumn>
        <HalfColumn>
          <H2>Inscription et Paiement</H2>
          <p>
            <strong
              >Veuillez vous inscrire via le formulaire visiteur si vous
              souhaitez venir regarder le tournoi ou danser toute la nuit.</strong
            ><br />
            Vous recevrez un email avec les informations de paiement dans les quatre
            jours suivant votre inscription pour confirmer vos places.
          </p>
          <p>
            Entrée pour les visiteurs de jour : 10€.<br />
            Entrée pour les visiteurs de soirée : 10€.<br />
            Entrée jour & soirée : 15€.<br />
            Entrée pour tout le week-end : 40€.
          </p>
          <p>
            Ceci n'inclut pas l'accès au buffet du déjeuner. Les boissons ne
            sont pas incluses et peuvent être achetées au bar. L'email de
            confirmation contiendra les détails du paiement.
          </p>
        </HalfColumn>
      </section>
    </main>
    <Contact />
  </div>
</Layout>
