---
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import Hero from "../components/Hero.astro";
import HalfColumn from "../components/HalfColumn.astro";
import H2 from "../components/H2.astro";
import UL from "../components/UL.astro";
import H3 from "../components/H3.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <div class="container mx-auto">
    <BackgroundImage />

    <main class="max-w-5xl!">
      <Hero title="Politique de confidentialité" />

      <section class="px-6 text-sm md:text-base">
        <p class="mx-auto md:w-3/4 text-justify">
          En vous inscrivant &agrave; l'European Tournament for Dancing Students
          (ETDS) en tant que participant, capitaine d'&eacute;quipe, juge,
          visiteur ou b&eacute;n&eacute;vole, vous acceptez les conditions
          &eacute;nonc&eacute;es dans la pr&eacute;sente politique de
          confidentialit&eacute;.
        </p>
        <p class="mx-auto md:w-3/4 text-justify">
          Ce document est la traduction lit&eacute;rale de la politique de
          confidentialit&eacute; originale en anglais. En cas de divergence
          entre les deux versions, la version anglaise pr&eacute;vaut.
        </p>
      </section>

      <section class="w-full flex flex-wrap">
        <HalfColumn>
          <H2>Qui sommes-nous ?</H2>
          <p>
            Nous sommes l'organisation de l'European Tournament for Dancing
            Students (ETDS). L'ETDS est un tournoi de danse de salon
            organis&eacute; deux fois par an. La participation n'est possible
            qu'en tant que membre d'une &eacute;quipe. Ces &eacute;quipes sont
            fournies par plusieurs associations de danse &eacute;tudiante
            d'Europe au nom de leur ville d'origine. Chaque ETDS est
            organis&eacute; par un comit&eacute; diff&eacute;rent provenant de
            l'une des villes participantes. L'ETDS d'octobre 2025 sera
            organis&eacute; par l'association Unitanz Aachen et des membres
            externes.
          </p>
          <H2>Quelles informations personnelles collectons-nous ?</H2>
          <p class="mb-0!">
            Nous collecterons les informations personnelles suivantes pour
            chaque participant&nbsp;:
          </p>
          <UL>
            <li>Nom</li>
            <li>Adresse e-mail</li>
            <li>Statut &eacute;tudiant ou non</li>
            <li>Âge</li>
            <li>Restrictions alimentaires</li>
            <li>
              Informations relatives &agrave; votre participation et
              h&eacute;bergement
            </li>
          </UL>

          <H2>Qui a acc&egrave;s &agrave; vos informations ?</H2>
          <p>
            Vos donn&eacute;es ne seront pas partag&eacute;es avec des tiers.
            Les personnes suivantes auront acc&egrave;s &agrave; vos
            informations personnelles&nbsp;:
          </p>

          <H3>L'organisation de l'ETDS</H3>
          <p>
            L'acc&egrave;s &agrave; vos informations personnelles sera fourni
            &agrave; un petit nombre de personnes qui ont besoin de ces
            informations pour organiser le tournoi.
          </p>
          <H3>Votre capitaine d'&eacute;quipe</H3>
          <p>
            Votre propre capitaine d'&eacute;quipe a acc&egrave;s &agrave;
            toutes les informations que vous partagez, car c'est lui/elle qui
            vous inscrit au tournoi.
          </p>
          <H3>Où mes informations seront-elles enregistr&eacute;es ?</H3>
          <p>
            Les informations d'inscription seront enregistr&eacute;es sur les
            serveurs du fournisseur d'h&eacute;bergement TransIP BV aux
            Pays-Bas. Le fournisseur d'h&eacute;bergement n'a pas acc&egrave;s
            &agrave; vos donn&eacute;es.
          </p>
        </HalfColumn>
        <HalfColumn>
          <H2>Modifier mes informations</H2>
          <p>
            Vous pouvez demander &agrave; votre capitaine d'&eacute;quipe de
            modifier toute information incorrecte.
          </p>
          <H2>
            Combien de temps mes informations seront-elles conserv&eacute;es ?
          </H2>
          <p>
            Vos informations seront conserv&eacute;es au moins jusqu'&agrave; la
            fin du tournoi. Par la suite, votre nom et vos r&eacute;sultats
            seront partag&eacute;s sur le site web www.etds.eu. Votre nom peut
            être supprim&eacute; sur demande. Apr&egrave;s le tournoi et avant
            le d&eacute;but du tournoi suivant, vos informations peuvent être
            utilis&eacute;es de mani&egrave;re anonyme pour des analyses
            statistiques ou être supprim&eacute;es.
          </p>
          <H2>
            Toutes mes informations peuvent-elles être supprim&eacute;es ?
          </H2>
          <p>
            Les organisateurs peuvent d&eacute;cider d'accorder aux participants
            qui participent pour la premi&egrave;re fois un avantage dans le
            syst&egrave;me de tirage au sort ou de leur offrir d'autres
            avantages. Si vous avez particip&eacute; au tournoi, votre nom et le
            fait que vous ayez particip&eacute; ne seront pas dissoci&eacute;s
            de votre profil. Toutes les autres informations seront
            supprim&eacute;es comme expliqu&eacute; dans la section
            pr&eacute;c&eacute;dente.
          </p>
          <H2>Contenu publi&eacute; en ligne</H2>
          <p>
            Apr&egrave;s le tournoi, les noms et r&eacute;sultats des
            participants seront publi&eacute;s sur les sites web avec les
            domaines www.etds.eu et etds2025aachen.vercel.app. Votre adresse
            e-mail restera priv&eacute;e. Les photos prises pendant l'ETDS
            peuvent être publi&eacute;es en ligne et diffus&eacute;es via les
            r&eacute;seaux sociaux. La suppression de ces photos se fait sur
            demande.
          </p>
        </HalfColumn>
      </section>
    </main>
    <Contact />
  </div>
</Layout>
