---
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
  <div class="container mx-auto">
    <BackgroundImage />

    <main class="max-w-5xl!">
      <Hero title="Politique de confidentialité" />

      <section>
        <p class="mx-auto w-3/4 text-justify">
          En vous inscrivant &agrave; l'European Tournament for Dancing Students
          (ETDS) en tant que participant, capitaine d'&eacute;quipe, juge,
          visiteur ou b&eacute;n&eacute;vole, vous acceptez les conditions
          &eacute;nonc&eacute;es dans la pr&eacute;sente politique de
          confidentialit&eacute;.
        </p>
        <p class="mx-auto w-3/4 text-justify">
          Ce document est la traduction lit&eacute;rale de la politique de
          confidentialit&eacute; originale en anglais. En cas de divergence
          entre les deux versions, la version anglaise pr&eacute;vaut.
        </p>
      </section>

      <section class="w-full flex flex-wrap">
        <div class="w-1/2">
          <h2>Qui sommes-nous ?</h2>
          <p>
            Nous sommes l'organisation de l'European Tournament for Dancing
            Students (ETDS). L'ETDS est un tournoi de danse de salon
            organis&eacute; deux fois par an. La participation n'est possible
            qu'en tant que membre d'une &eacute;quipe. Ces &eacute;quipes sont
            fournies par plusieurs associations de danse &eacute;tudiante
            d'Europe au nom de leur ville d'origine. Chaque ETDS est
            organis&eacute; par un comit&eacute; diff&eacute;rent provenant de
            l'une des villes participantes. L'ETDS d'octobre 2025 sera
            organis&eacute; par l'association Unitanz Aachen et des membres
            externes.
          </p>
          <h2>Quelles informations personnelles collectons-nous ?</h2>
          <p class="mb-0!">
            Nous collecterons les informations personnelles suivantes pour
            chaque participant&nbsp;:
          </p>
          <ul>
            <li>Nom</li>
            <li>Adresse e-mail</li>
            <li>Statut &eacute;tudiant ou non</li>
            <li>Âge</li>
            <li>Restrictions alimentaires</li>
            <li>
              Informations relatives &agrave; votre participation et
              h&eacute;bergement
            </li>
          </ul>

          <h2>Qui a acc&egrave;s &agrave; vos informations ?</h2>
          <p>
            Vos donn&eacute;es ne seront pas partag&eacute;es avec des tiers.
            Les personnes suivantes auront acc&egrave;s &agrave; vos
            informations personnelles&nbsp;:
          </p>

          <h3>L'organisation de l'ETDS</h3>
          <p>
            L'acc&egrave;s &agrave; vos informations personnelles sera fourni
            &agrave; un petit nombre de personnes qui ont besoin de ces
            informations pour organiser le tournoi.
          </p>
          <h3>Votre capitaine d'&eacute;quipe</h3>
          <p>
            Votre propre capitaine d'&eacute;quipe a acc&egrave;s &agrave;
            toutes les informations que vous partagez, car c'est lui/elle qui
            vous inscrit au tournoi.
          </p>
          <h3>Où mes informations seront-elles enregistr&eacute;es ?</h3>
          <p>
            Les informations d'inscription seront enregistr&eacute;es sur les
            serveurs du fournisseur d'h&eacute;bergement TransIP BV aux
            Pays-Bas. Le fournisseur d'h&eacute;bergement n'a pas acc&egrave;s
            &agrave; vos donn&eacute;es.
          </p>
        </div>
        <div class="w-1/2">
          <h2>Modifier mes informations</h2>
          <p>
            Vous pouvez demander &agrave; votre capitaine d'&eacute;quipe de
            modifier toute information incorrecte.
          </p>
          <h2>
            Combien de temps mes informations seront-elles conserv&eacute;es ?
          </h2>
          <p>
            Vos informations seront conserv&eacute;es au moins jusqu'&agrave; la
            fin du tournoi. Par la suite, votre nom et vos r&eacute;sultats
            seront partag&eacute;s sur le site web www.etds.eu. Votre nom peut
            être supprim&eacute; sur demande. Apr&egrave;s le tournoi et avant
            le d&eacute;but du tournoi suivant, vos informations peuvent être
            utilis&eacute;es de mani&egrave;re anonyme pour des analyses
            statistiques ou être supprim&eacute;es.
          </p>
          <h2>
            Toutes mes informations peuvent-elles être supprim&eacute;es ?
          </h2>
          <p>
            Les organisateurs peuvent d&eacute;cider d'accorder aux participants
            qui participent pour la premi&egrave;re fois un avantage dans le
            syst&egrave;me de tirage au sort ou de leur offrir d'autres
            avantages. Si vous avez particip&eacute; au tournoi, votre nom et le
            fait que vous ayez particip&eacute; ne seront pas dissoci&eacute;s
            de votre profil. Toutes les autres informations seront
            supprim&eacute;es comme expliqu&eacute; dans la section
            pr&eacute;c&eacute;dente.
          </p>
          <h2>Contenu publi&eacute; en ligne</h2>
          <p>
            Apr&egrave;s le tournoi, les noms et r&eacute;sultats des
            participants seront publi&eacute;s sur les sites web avec les
            domaines www.etds.eu et etds2025aachen.vercel.app. Votre adresse
            e-mail restera priv&eacute;e. Les photos prises pendant l'ETDS
            peuvent être publi&eacute;es en ligne et diffus&eacute;es via les
            r&eacute;seaux sociaux. La suppression de ces photos se fait sur
            demande.
          </p>
        </div>
      </section>
    </main>
  </div>
</Layout>

<style>
  section h3 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-primary);
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    letter-spacing: 0.01em;
    text-align: left;
  }
  section {
    font-size: 0.91rem;
  }
  section div {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  section h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-primary);
    margin-top: 2.2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.01em;
    text-align: left;
  }

  section ul {
    list-style-type: square;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
  }
  section ul li {
    color: inherit;
    font-size: 0.97rem;
  }
  section ul li::marker {
    color: var(--color-secondary);
  }
  section ul ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1.5rem;
  }
  section ul li strong {
    color: var(--color-primary);
  }

  section p {
    margin-bottom: 1.2rem;
    line-height: 1.6;
  }
</style>
