---
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import Hero from "../components/Hero.astro";
import UL from "../components/UL.astro";
import H2 from "../components/H2.astro";
import HalfColumn from "../components/HalfColumn.astro";
---

<Layout>
  <div class="container mx-auto">
    <BackgroundImage />

    <main class="max-w-5xl!">
      <Hero title="Politique d’inscription" />

      <section class="px-6">
        <p class="mx-auto w-full md:w-3/4 text-justify text-sm md:text-base">
          En vous inscrivant à l’European Tournament for Dancing Students (ETDS)
          en tant que participant, capitaine d’équipe, juge ou bénévole, vous
          acceptez la présente politique d’inscription. Cette politique vous
          informe de tout ce qu’il faut savoir pour pouvoir vous inscrire en
          tant que participant à l’ETDS. Veuillez lire attentivement cette page
          afin de connaître les règles applicables.
        </p>

        <h3 class="text-center!">Le plus important :</h3>
        <table class="mx-auto text-sm md:text-base">
          <tbody>
            <tr>
              <td>Début des inscriptions</td>
              <td class="font-bold text-primary px-4">26 janvier</td>
            </tr>
            <tr>
              <td>Tirage au sort &mdash; 1er tour</td>
              <td class="font-bold text-primary px-4">15 f&eacute;vrier (~400 places)</td>
            </tr>
            <tr>
              <td>Tirage au sort &mdash; 2nd tour</td>
              <td class="font-bold text-primary px-4">22 mars (~250 places)</td>
            </tr>
            <tr>
              <td class="pt-4">Date limite de paiement 1er tour</td>
              <td class="font-bold text-primary px-4 pt-4">25 f&eacute;vrier</td>
            </tr>
            <tr>
              <td>Date limite de paiement 2nd tour</td>
              <td class="font-bold text-primary px-4">1er avril</td>
              <td  class="hidden md:block"></td>
            </tr>
            <tr>
              <td colspan="2" class="font-bold">Si vous ne payez pas a temps, votre place sera donn&eacute;e &agrave; quelqu'un d'autre!</td>
            </tr>
            <tr>
              <td class="pt-4">Date limite des goodies</td>
              <td class="font-bold text-primary px-4 pt-4">Info &agrave; venir</td>
            </tr>
            <!-- <tr>
              <td>Date limite de paiement </td>
              <td class="font-bold text-primary px-4">Info &agrave; venir</td>
              <td  class="hidden md:block">Goodies</td>
            </tr> -->
            <tr>
              <td>Date limite de remboursement à 100&nbsp;%</td>
              <td class="font-bold text-primary px-4">1er Avril</td>
              <td  class="hidden"></td>
            </tr>
            <tr>
              <td>Date limite de remboursement à 75&nbsp;%</td>
              <td class="font-bold text-primary px-4">22 Avril</td>
              <td  class="hidden"></td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="w-full flex flex-wrap">
        <HalfColumn>
          <H2>Généralités</H2>
          <p>
            En s’inscrivant, chaque participant déclare au comité de l’ETDS
            accepter le règlement d’inscription, le règlement de compétition et
            la politique de confidentialité.
          </p>
          <p>
            Le comité de l’ETDS se réserve le droit de déroger aux règles
            énoncées dans ce document pour statuer sur des cas individuels en
            cas de conflit.
          </p>
          <p>
            Si un participant ne respecte pas les conditions énoncées dans ce
            document, le comité de l’ETDS se réserve le droit de lui refuser
            l’accès à l’événement.
          </p>

          <H2>Procédure d’inscription</H2>
          <p>
            Les inscriptions ouvrent le 26&nbsp;janvier. Si le nombre d’inscriptions
            dépasse le nombre de places, les participants sont sélectionnés par
            tirage au sort le <strong>15&nbsp;f&eacute;vrier</strong>.
          </p>
          <p>
            Le paiement est dû 10&nbsp;jours après la sélection d’un participant.
            Pour tous les participants sélectionnés lors du tirage initial, le
            paiement est dû le <strong>25&nbsp;f&eacute;vrier</strong>.
          </p>
          <p>
            Après le tirage au sort, lorsqu’un participant se désiste, sa place
            est attribuée à une personne de la liste d’attente par un nouveau
            tirage au sort.
          </p>
          <p>
            L’inscription ne garantit pas la participation au tournoi en raison
            du système de tirage au sort.
          </p>
          <p>
            Le capitaine d’équipe est responsable de l’inscription des membres
            de son équipe via le système d’inscription administré par
            l’organisation de l’ETDS.
          </p>
          <p class="mb-0!">
            Les capitaines d’équipe s’enregistrent en tant que tels dans le
            système d’inscription et sont exemptés du tirage au sort. Le nombre
            de capitaines d’équipe exemptés est le suivant&nbsp;:
          </p>
          <UL>
            <li>1 pour 3&nbsp;participants ou plus (hors capitaine)</li>
            <li>2 pour 20&nbsp;participants ou plus (hors capitaines)</li>
          </UL>

          <H2>Annulations</H2>
          <p>
            Une semaine après la clôture des inscriptions, le capitaine
            d’équipe recevra une liste finale des participants avec une liste
            d’attente.
          </p>
          <p class="mb-0!">
            Lorsqu’un participant annule, sa place est attribuée à une personne
            de la liste d’attente. Le système conserve les priorités
            suivantes&nbsp;:
          </p>
          <UL>
            <li>
              La place est attribuée à un participant de la liste d’attente de
              n’importe quelle équipe, par tirage aléatoire effectué par
              l’organisation de l’ETDS. La préférence va à un participant qui
              contribue à équilibrer le ratio meneur/suiveur dans les groupes de
              Blind Dating.
            </li>
            <li>
              Il est interdit de participer sous le nom de quelqu’un d’autre.
              En cas de fraude, le participant sera disqualifié, et son
              capitaine d’équipe pourra également être disqualifié s’il/elle a
              donné son accord.
            </li>
            <li>
              Si un participant sur liste d’attente n’est plus disponible pour
              l’ETDS, il/elle doit en informer l’organisation de l’ETDS via son
              capitaine d’équipe. Le participant pourra alors être retiré du
              système de tirage au sort.
            </li>
          </UL>
        </HalfColumn>

        <HalfColumn>
          <H2>Finances</H2>
          <p>
            Les paiements suite aux résultats du grand tirage doivent être
            reçus au plus tard le 25&nbsp;f&eacute;vrier. Si des places ne sont pas
            réglées à cette date, elles seront ouvertes aux prochains
            participants inscrits.<br />
            Dans les 10&nbsp;jours suivant les résultats des tirages ultérieurs,
            chaque association doit payer les frais de participation au comité
            de l’ETDS. Si ces frais ne sont pas payés dans ce délai, les places
            enregistrées seront ouvertes aux prochains participants.
          </p>

          <p class="mb-0!">
            Pour les frais d’inscription, une distinction est faite entre
            étudiants, doctorants et non-étudiants&nbsp;:
          </p>
          <UL>
            <li>Étudiants&nbsp;: 97,50&nbsp;€</li>
            <li>Doctorants&nbsp;: 137,50&nbsp;€</li>
            <li>Non-étudiants&nbsp;: 137,50&nbsp;€</li>
          </UL>

          <p>
            Si un membre inscrit passe de la liste d’attente à la liste des
            participants, ses frais doivent être payés au comité de l’ETDS dans
            les 10&nbsp;jours, sinon son inscription sera annulée.
          </p>

          <p>
            Si l’ETDS a lieu avant la date limite de paiement, les frais de
            participation doivent être réglés avant le début de l’événement.
          </p>
          <H2>Remboursement des frais de participation&nbsp;:</H2>
          <p class="mb-0!">Pour un aperçu clair, voir le schéma ci-dessus.</p>
          <UL>
            <li>
              Un participant obtient un remboursement intégral s’il annule
              avant le 1er&nbsp;avril et si la place peut être pourvue. Le
              remboursement intégral sera versé à l’association du participant
              au plus tard le TBD.
            </li>
            <li>
              Un participant reçoit un remboursement partiel des frais de
              participation s’il/elle annule après le 22&nbsp;avril et si la
              place peut être pourvue. Ce remboursement partiel sera calculé
              après l’ETDS.
            </li>
            <li>
              Si la place ne peut pas être pourvue ou si le participant n’annule
              pas avant le début de l’ETDS, aucun remboursement n’est accordé.
            </li>
          </UL>
          <p>
            Il est attendu des associations qu’elles veillent à ce que les
            remboursements reviennent à la personne à qui ils appartiennent. Les
            informations nécessaires seront fournies.
          </p>

          <p>
            <strong>Si un participant s’inscrit en tant qu’étudiant, il/elle doit
            apporter une preuve d’inscription au tournoi.</strong> En cas d’impossibilité
            de présenter le document requis, il/elle devra payer en espèces, au
            bureau d’inscription de l’ETDS, la différence vers le tarif non
            étudiant. Une carte d’étudiant ne portant pas l’année 2025/2026 ne
            sera pas acceptée comme preuve d’inscription.
          </p>

          <H2>Heures d’aide obligatoires</H2>
          <p>
            Pendant l’ETDS de mai&nbsp;2026, chaque équipe doit remplir des
            heures d’aide obligatoires (OHH). Plus d’informations sur ces
            créneaux d’aide sont disponibles sur notre site web.
          </p>

          <p class="mb-0!">
            Les tâches pour les OHH peuvent inclure, sans s’y limiter&nbsp;:
          </p>
          <UL>
            <li>Accueil</li>
            <li>Bureau d’information</li>
            <li class="line-through">Veille de nuit</li>
            <li>Contrôle des badges</li>
            <li>Montage et démontage</li>
            <li>Aide au service du dîner</li>
            <li>Service au bar</li>
          </UL>

          <H2>Dommages</H2>
          <p class="mb-0!">
            Les dommages causés par la négligence des participants ou par leur
            non-respect des règles seront imputés aux dits participants. Cela
            inclut, sans s’y limiter, les dommages causés par&nbsp;:
          </p>
          <UL>
            <li>Fumer/vapoter</li>
            <li>Porter des chaussures d’extérieur dans des zones non autorisées</li>
            <li>Porter des talons hauts sans protège-talons</li>
          </UL>
        </HalfColumn>
      </section>
    </main>
  </div>
</Layout>
