---
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
  <div class="container mx-auto">
    <BackgroundImage />

    <main class="max-w-5xl!">
      <Hero title="Bénévolat" />

      <section>
        <p class="mx-auto w-3/4 text-justify">
          L'ETDS n'est possible que gr&acirc;ce aux nombreuses heures de
          b&eacute;n&eacute;volat que nous accomplissons en tant que
          communaut&eacute;. Outre l'organisation de l'&eacute;v&eacute;nement,
          il y a de nombreuses t&acirc;ches qui doivent être effectu&eacute;es
          pendant le week-end. Pour ces t&acirc;ches, nous avons besoin de votre
          aide ! Nous avons organis&eacute; tout le travail &agrave; accomplir
          pendant le week-end en cr&eacute;neaux. Ces cr&eacute;neaux sont
          g&eacute;n&eacute;ralement des services d'une heure apr&egrave;s
          lesquels la personne suivante prend le relais. Les cr&eacute;neaux
          sont organis&eacute;s en trois cat&eacute;gories.
        </p>
      </section>

      <section class="w-full flex flex-wrap">
        <div class="w-1/2">
          <h2>Heures d'aide obligatoires (OHH)</h2>
          <p>
            Tous les capitaines d'&eacute;quipe reçoivent une liste de
            cr&eacute;neaux obligatoires pour leur &eacute;quipe, constituant au
            moins 1 heure par participant. Il appartient aux capitaines
            d'&eacute;quipe de r&eacute;partir ces cr&eacute;neaux entre les
            membres de leur &eacute;quipe.
          </p>
          <h2>Cr&eacute;neaux de b&eacute;n&eacute;volat</h2>
          <p>
            En plus des heures d'aide obligatoires, de nombreuses personnes
            contribuent &agrave; l'ETDS en acceptant des cr&eacute;neaux de
            b&eacute;n&eacute;volat suppl&eacute;mentaires. Outre une belle
            exp&eacute;rience et notre &eacute;ternelle gratitude en tant que
            communaut&eacute;, votre &eacute;quipe gagnera des points pour Der
            Maus pour chaque heure de b&eacute;n&eacute;volat
            suppl&eacute;mentaire.
          </p>
        </div>
        <div class="w-1/2">
          <h2>Super volunteers</h2>
          <p>
            Les super volunteers sont l'&eacute;pine dorsale de l'ETDS et sont
            les personnes qui font du b&eacute;n&eacute;volat tout le week-end
            pour un minimum de 25 heures. Par cons&eacute;quent, en tant que
            super b&eacute;n&eacute;vole, vous ne pourrez pas participer au
            tournoi. Cependant, pour compenser votre contribution, vous recevrez
            de la nourriture, un lieu de couchage et une exp&eacute;rience
            merveilleuse gratuitement. L'inscription pour les super-volunteers
            se fait dans le portail via ce lien. Nous vous ajouterons ensuite
            manuellement au syst&egrave;me en tant que super-volunteer.
          </p>
          <h2>Contactez-nous</h2>
          <p>
            Pour toute question concernant les super volunteers ou l'arbitrage,
            contactez votre capitaine d'&eacute;quipe ou nous. Nous sommes
            heureux de vous aider. Ensemble, nous pouvons cr&eacute;er un
            &eacute;v&eacute;nement formidable. info@etds-aachen.de.
          </p>
        </div>
      </section>
    </main>
  </div>
</Layout>

<style>
  section h3 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-primary);
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    letter-spacing: 0.01em;
    text-align: left;
  }
  section {
    font-size: 0.91rem;
  }
  section div {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  section h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-primary);
    margin-top: 2.2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.01em;
    text-align: left;
  }

  section ul {
    list-style-type: square;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
  }
  section ul li {
    color: inherit;
    font-size: 0.97rem;
  }
  section ul li::marker {
    color: var(--color-secondary);
  }
  section ul ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1.5rem;
  }
  section ul li strong {
    color: var(--color-primary);
  }

  section p {
    margin-bottom: 1.2rem;
    line-height: 1.6;
  }
</style>
