---
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import Hero from "../components/Hero.astro";
import HalfColumn from "../components/HalfColumn.astro";
import H2 from "../components/H2.astro";
---

<Layout>
  <div class="container mx-auto">
    <BackgroundImage />

    <main class="max-w-5xl!">
      <Hero title="Bénévolat" />

      <section class="px-6 md:text-base text-sm">
        <p class="mx-auto md:w-3/4 text-justify">
          L'ETDS n'est possible que gr&acirc;ce aux nombreuses heures de
          b&eacute;n&eacute;volat que nous accomplissons en tant que
          communaut&eacute;. Outre l'organisation de l'&eacute;v&eacute;nement,
          il y a de nombreuses t&acirc;ches qui doivent être effectu&eacute;es
          pendant le week-end. Pour ces t&acirc;ches, nous avons besoin de votre
          aide ! Nous avons organis&eacute; tout le travail &agrave; accomplir
          pendant le week-end en cr&eacute;neaux. Ces cr&eacute;neaux sont
          g&eacute;n&eacute;ralement des services d'une heure apr&egrave;s
          lesquels la personne suivante prend le relais. Les cr&eacute;neaux
          sont organis&eacute;s en trois cat&eacute;gories.
        </p>
      </section>

      <section class="w-full flex flex-wrap">
        <HalfColumn>
          <H2>Heures d'aide obligatoires (OHH)</H2>
          <p>
            Tous les capitaines d'&eacute;quipe reçoivent une liste de
            cr&eacute;neaux obligatoires pour leur &eacute;quipe, constituant au
            moins 1 heure par participant. Il appartient aux capitaines
            d'&eacute;quipe de r&eacute;partir ces cr&eacute;neaux entre les
            membres de leur &eacute;quipe.
          </p>
          <H2>Cr&eacute;neaux de b&eacute;n&eacute;volat</H2>
          <p>
            En plus des heures d'aide obligatoires, de nombreuses personnes
            contribuent &agrave; l'ETDS en acceptant des cr&eacute;neaux de
            b&eacute;n&eacute;volat suppl&eacute;mentaires. Outre une belle
            exp&eacute;rience et notre &eacute;ternelle gratitude en tant que
            communaut&eacute;, votre &eacute;quipe gagnera des points pour Der
            Maus pour chaque heure de b&eacute;n&eacute;volat
            suppl&eacute;mentaire.
          </p>
        </HalfColumn>
        <HalfColumn>
          <H2>Super volunteers</H2>
          <p>
            Les super volunteers sont l'&eacute;pine dorsale de l'ETDS et sont
            les personnes qui font du b&eacute;n&eacute;volat tout le week-end
            pour un minimum de 25 heures. Par cons&eacute;quent, en tant que
            super b&eacute;n&eacute;vole, vous ne pourrez pas participer au
            tournoi. Cependant, pour compenser votre contribution, vous recevrez
            de la nourriture, un lieu de couchage et une exp&eacute;rience
            merveilleuse gratuitement. L'inscription pour les super-volunteers
            se fait dans le portail via ce lien. Nous vous ajouterons ensuite
            manuellement au syst&egrave;me en tant que super-volunteer.
          </p>
          <H2>Contactez-nous</H2>
          <p>
            Pour toute question concernant les super volunteers ou l'arbitrage,
            contactez votre capitaine d'&eacute;quipe. Nous sommes
            heureux de vous aider. Ensemble, nous pouvons cr&eacute;er un
            &eacute;v&eacute;nement formidable.
          </p>
        </HalfColumn>
      </section>
    </main>
  </div>
</Layout>
