---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from 'tailwind-merge'

interface Props extends HTMLAttributes<"h3"> {}

const { class: className, ...attrs } = Astro.props;
---
<h3
    class={twMerge('text-base md:text-lg font-medium text-primary mt-6 mb-1.5 md:mb-3 tracking-[0.01em] text-left', className)}
    {...attrs}>
    <slot />
</h3>
