---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from 'tailwind-merge'

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...attrs } = Astro.props;
---
<div
    class={twMerge('w-full md:w-1/2 px-4 text-sm md:text-base', className)}
    {...attrs}>
    <slot />
</div>
