---
const { title } = Astro.props;
---
<section class="hero">
  <h1 class="title">{Astro.props.title}</h1>
</section>
<style>
  .hero {
    text-align: center;
    padding: 4rem 1rem 3rem;
  }

  .title {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 0 0 1rem;
    color: var(--color-primary);
  }


</style>