---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from 'tailwind-merge'

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...attrs } = Astro.props;
---
<div
    class={twMerge('md:w-3/4 mx-auto text-left', className)}
    {...attrs}>
    <slot />
</div>
